email=info@mylandmarktech.com
##always-auth=true
{
    "db_name": "registry",
    "engine": "couch_bt_engine",
    "doc_count": 4868045,
    "doc_del_count": 332,
    "update_seq": 51002101,
    "purge_seq": 0,
    "compact_running": false,
    "sizes": {
        "active": 121277830997,
        "external": 281730774907,
        "file": 123281854704
    },
    "disk_size": 123281854704,
    "data_size": 121277830997,
    "other": {
        "data_size": 281730774907
    },
    "instance_start_time": "1704789782972726",
    "disk_format_version": 7,
    "committed_update_seq": 51002101,
    "compacted_seq": 50958299,
    "uuid": "3a4ad341a4111dd254daa731f37b37ae"
}
_auth=YWRtaW46YWRtaW4xMjM=
allowRepublish=true
